
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!--Section: Content-->
                <section class="mb-5">

                    <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
                        <div class="md-form md-outline">
                            <input name="Email" type="email" id="defaultForm-email1" class="form-control">
                            <label>Your email</label>
                        </div>

                        <div class="text-center pb-2">

                            <button type="submit" class="btn btn-primary mb-4">Forgot</button>

                            <p>Not a member? <a href="">Register</a></p>
                        </div>

                    </form>

                    <div class="d-flex justify-content-between align-items-center mb-2">

                        <div class="form-check pl-0 mb-3">
                            <input type="checkbox" class="form-check-input filled-in" id="new">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="new">Remember me</label>
                        </div>

                        <p><a href="/account/forgotpassword">Forgot password?</a></p>

                    </div>

                </section>
                <!--Section: Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </div>
</main>

