@model ChangePasswordModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @if (TempData["message"] != null)
    {
        var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as string);
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-@message.AlertType">
                    @message.Message
                </div>
            </div>
        </div>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group pb-2">
                <a href="/account/orders" class="list-group-item list-group-item-action">
                    Orders
                </a>
                <a href="/account/ProfileInfo/@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="list-group-item list-group-item-action">
                    Profile Info
                </a>
                <a href="/account/PasswordChange" class="list-group-item list-group-item-action">
                    Change Password
                </a>
                <a href="/account/adresses" class="list-group-item list-group-item-action">
                    Adresess
                </a>
                <a href="/account/logout" class="list-group-item list-group-item-action">
                    Logout
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="h3">Change Password</h1>
            <hr>
            <form asp-controller="Account" asp-action="PasswordChange" method="POST">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="CurrentPassword" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="CurrentPassword">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="RePassword" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="RePassword">
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

